/* Top Navigation */
	.top-nav {
		display: inline-block;
		background: linear-gradient(0 ,rgb(255, 42, 0), rgb(248, 22, 101));
		width: 100%;
		border-bottom: 1px #e1e1e1 solid;
		

		
	}

	/* Social Icon */
		.social-top-nav {
			float: left;
			list-style: none;
			display:inline-flex;
			
			

		}
		.social-top-nav a{
			
			padding: 20px;
			font-weight: 700;
			
			font-size: 20px;
			height: 2em;
			width: 2em;
			line-height: 2em;
			color: rgb(0, 0, 0);
			transition-duration: 2.5s;
			
			
		}
		/* hightlight icon fb, google, youtube .... when hover */
		.social-top-nav a:hover { color: #ff0000; }
		
		.fa-facebook:hover { color:#0055ff; }
		
		
	/* ======= End Social Icon ======= */

	/* Quick link */
		.top-nav-quicklink {
			float: right;
		}
		.top-nav-quicklink li {
			display: inline-block;
			font-size: 1em;
			color: rgb(0, 0, 0);
				
		}
		.top-nav-quicklink li a {
			display: block;
			color: rgb(0, 0, 0);
			padding: 8px 25px;
			margin:4px;
			transition-duration: .15s;
		}
		.top-nav-quicklink li a:hover {
			padding-top: 4px; 
			border-bottom: 4px solid #000;
			color: #ffffff;
		}
		.top-nav-quicklink li a:hover i {
			color: rgb(255, 254, 254);
		}
	/* ======= End quick link ======= */
/* ======= End Top navigation ======= */